body{
  line-height:1.2;
}

.MyWatchList {
  text-align: center;
}

.MyWatchList-header {
  background-color: #1f191a;
  background-image:linear-gradient(135deg,#1f191a 0,#262626 50%,#1f191a 100%);
  padding: 40px 20px;
  color: white;
}

.MyWatchList-header .WatchListInput{
  max-width:400px;
  margin:20px auto 0 auto;
}

.MyWatchList-main {
  padding:20px;
}

.MyWatchList-title {
  font-size: 2.5em;
}

.MyWatchList-subtitle{
  font-size: 1.25rem;
  font-weight: 400;
  color:#8a8a8a;
}
