.WatchList-header-title{
  font-weight:400;
  font-size:2rem;
  line-height:1.25;
  color: #6a1aa3;
}
.CompletedList-header-title{
  color:#6a6a6a;
  font-style:italic;
}
.WatchList-container{
  max-width:1200px;
  margin:0 auto;
}
.CompletedList-container{
  border-top:1px solid #f5f5f5;
  padding-top:1.5rem;
  margin-top:1.5rem;
}
.CompletedList{
  max-width:1000px;
  margin:0 auto;
}
.empty-WatchList{
  max-width:400px;
  margin:0 auto;
}