.WatchList-ListItem:focus, .WatchList-ListItem.is-focused{
  outline: 1px solid #3273dc;
  outline-offset: -8px;
}

.WatchList-ListItem .card-footer-button{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: #363636;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 2px;
  font-size: 14px;
  border: 0;
  line-height: 1.2;
  font-weight:700;
}
  
.WatchList-ListItem .card-footer-button:not(:last-child) {
  border-right: 1px solid #dbdbdb;
}

.WatchList-ListItem .card-footer-button .icon, 
.WatchList-ListItem .card-footer-button .icon.is-small, 
.WatchList-ListItem .card-footer-button .icon.is-medium, 
.WatchList-ListItem .card-footer-button .icon.is-large {
  height: 1.5em;
  width: 1.5em;
}

.WatchList-ListItem .card-footer-button:hover, 
.WatchList-ListItem .card-footer-button.is-hovered, 
.WatchList-ListItem .card-footer-button:focus, 
.WatchList-ListItem .card-footer-button.is-focused {
  color: #363636;
  background-color:#f0f0f0;
}

.WatchList-ListItem .card-footer-button:focus, 
.WatchList-ListItem .card-footer-button.is-focused{
  outline:1px solid #3273dc;
  outline-offset: -1px;
}

.WatchList-ListItem .card-footer-button:active, 
.WatchList-ListItem .card-footer-button.is-active {
  color: #363636;
}

.WatchList-ListItem.completed-item .ListItem-overlay{
  font-style:italic;
}
.WatchList-ListItem.completed-item .card-image img{
  opacity:0.7;
}

.ListItem-overlay{
  bottom:0;
  position:absolute;
  padding:10px 5px;
  background-color:rgba(0,0,0,0.6);
  color:#fff;
  width:100%;
  text-shadow:1px 1px 3px rgba(0,0,0,0.5);
}
  
.ListItem-title{
  font-size:0.8em;
  font-weight:700;
}
.ListItem-image{
  max-width:100px;
}

.ListItem-subcontent{
  font-size:0.7em;
  font-weight:400;
  text-transform: capitalize;
}
.ListItem-year{
  color:#fafafa;
}
.ListItem-link{
  float:right;
}
.WatchList-ListItem .card-footer-button-text{
  display:none;
}
@media(min-width:400px){
  .WatchList-ListItem .card-footer-button.WatchList-Check, .WatchList-ListItem .card-footer-button.WatchList-Reset{
    width:80%;
    flex:none;
  }
  .WatchList-ListItem .card-footer-button-text{
    display:inline;
  }
}

.WatchList-ListItem .card-footer-button.WatchList-Check:hover, 
.WatchList-ListItem .card-footer-button.WatchList-Check.is-hovered, 
.WatchList-ListItem .card-footer-button.WatchList-Check:focus, 
.WatchList-ListItem .card-footer-button.WatchList-Check.is-focused{
  color:#22c65b;
}
.WatchList-ListItem .card-footer-button.WatchList-Reset:hover, 
.WatchList-ListItem .card-footer-button.WatchList-Reset.is-hovered, 
.WatchList-ListItem .card-footer-button.WatchList-Reset:focus, 
.WatchList-ListItem .card-footer-button.WatchList-Reset.is-focused{
  color:#3273dc;
}

.WatchList-ListItem .card-footer-button.WatchList-Remove{
}

.WatchList-ListItem .card-footer-button.WatchList-Remove:hover,
.WatchList-ListItem .card-footer-button.WatchList-Remove.is-hovered,
.WatchList-ListItem .card-footer-button.WatchList-Remove:focus,
.WatchList-ListItem .card-footer-button.WatchList-Remove.is-focused{
  color:#ff2b56;
}